__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

darp_algorithms/bin/
darp_algorithms/pyvenv.cfg

.pytest_cache/

.DS_Store

.idea/
.vscode/

cache/

artifacts/evaluation_results.csv
artifacts/plots/*.png
artifacts/summary_tables/*.csv
artifacts/summary_tables/*.tex